spring:
  application:
    name: Task-management-api
  datasource:
    url: jdbc:postgresql://localhost:5432/taskmanagement
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true